.small_img {
    max-height: 50px;
}

.main_section {
    background: #265577;
    width: 90%;
    margin-left: 5.5%;
    padding: 5px;
    margin-top: 1%;
}

.photo_list {
    background: red;
    margin-top: 5px;
}

.info {
    background: green;
}