@font-face {
	font-family: 'Mono'; 
	src: url(../../public/Jura-Medium.ttf); 
}

.main {
    /* background: rgb(38, 80, 119, 0.5); */
    background: rgb(45, 95, 93, 0.4);
    margin-top: 15%;
    margin-left: 42%;
    width: 250px;
    height: 100px;
    border-radius: 15px;
    text-align: center;
    box-sizing: border-box;
    padding: 1px;
}

.link {
    text-decoration: none;
    color: aliceblue;
    font-family: 'Mono';
    font-size: 1.2em;
}

.link:hover {
    text-decoration: underline;
    color: #1E4258;
    font-family: 'Mono';
}

.link_s {
    text-decoration: none;
    color: aliceblue;
    font-family: 'Mono';
    font-size: 1.2em;
}

.link_s:hover {
    text-decoration: underline;
    color: #1E4258;
    font-family: 'Mono';
}

.message {
    color: #022140;
    font-family: 'Mono';
    font-size: 1.5em;
    margin-top: 15px;
}

.linkp {
    margin: 0;
}

